[submodule "EQuiz-Frontend"]
	path = EQuiz-Frontend
	url = https://github.com/KhanaropThongplave/EQuiz-Frontend.git
[submodule "EQuiz-Backend"]
	path = EQuiz-Backend
	url = https://github.com/KhanaropThongplave/EQuiz-Backend.git
[submodule "EQuiz-SmartContract"]
	path = EQuiz-SmartContract
	url = https://github.com/KhanaropThongplave/EQuiz-SmartContract.git
